$lighter-green: #afe38c;

$gray-color: #e0e0e0;

.jumbotron {
    background-color: darken($lighter-green, 30%);
    margin-bottom: 0rem;
}

body {
    background-color: $lighter-green;
}


%nav-text {
    color:black;
    font-weight: bold;
    
}

nav {
    background-color: darken($lighter-green, 25%);
    a.nav-item.nav-link {
        @extend %nav-text;
    }
    a.nav-item.nav-link.active {
         @extend %nav-text;
        background-color: darken($lighter-green, 35%);
    }
}



div.altcoloring > div:nth-of-type(odd) {
    background: $gray-color
}

div.altcoloring > div:nth-of-type(even) {
    background: darken($gray-color, 5%);
}

.filldiv {
    width: 100%;
    height: 100%;
    display: inline-block;

}

