$lighter-green: #afe38c;

$gray-color: #e0e0e0;

body {
    background-color: $lighter-green;
}

.jumbotron {
    background-color: darken($lighter-green, 8%);
    margin-bottom: 0rem;
}




%nav-text {
    color:black;
    font-weight: bold;
    
}


.btn-primary {
    background-color: darken($lighter-green, 25%);
    border-color: darken($lighter-green, 28%);
    @extend %nav-text;
    &:hover {
        background-color: darken($lighter-green, 40%);
        border-color: darken($lighter-green, 28%);
    }
}



nav {
    background-color: darken($lighter-green, 20%);
    a.nav-item.nav-link {
        @extend %nav-text;
    }
    a.nav-item.nav-link.active {
         @extend %nav-text;
        background-color: darken($lighter-green, 24%);
    }
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}


.col-sm-4:nth-child(1) {
    background: darken($lighter-green, 10%);
}

.col-sm-4:nth-child(2) {
    background: darken($lighter-green, 15%);
}

.col-sm-4:nth-child(3) {
    background: darken($lighter-green, 20%);
}

div.col-sm-4 > a.text-center {
    color: black;
    font-weight: bold;
}

// add Media to add a border to mobile screens


.filldiv {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
    font-weight: bold;

}

ul {
    padding-left:0.2rem;
}
.question {
    font-weight:bold;
    font-size: 1.4rem;
    list-style: none;
}

.answers {
    font-size: 1.2rem;
    margin-left: 2.5rem;
    list-style: none;
    
}


div {
    &.col-12 {
        &:nth-child(odd){
            background: darken($lighter-green, 10%);
        }
        &:nth-child(even){
            background: darken($lighter-green, 15%);
        }
        
    }
    &.altcoloring {
        >div {
            &.row {
                &:nth-child(odd){
                    background: darken($lighter-green, 15%);
                }
                &:nth-child(even){
                    background: darken($lighter-green, 20%);
                }
            }
        }

    }
}

.container {
    background: saturate(darken($lighter-green, 10%), 10%)
}

header {
    div {
        &.container {
            background: none;
        }
    }
}

footer {
    div {
        max-width: 29rem;
        font-weight: bold;
    }
    margin-left: -15px;
    margin-right: -15px;
    background-color: saturate(darken($lighter-green, 25%), 13%);
    margin-top: 15px;
    

}